name: Test and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.WORKER_NAME }}:${{ github.sha }}

      - name: Run Tests
        uses: runpod/runpod-test-runner@v1
        with:
          image-tag: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.WORKER_NAME }}:${{ github.sha }}
          runpod-api-key: ${{ secrets.RUNPOD_API_KEY }}
          test-filename: .github/tests.json
          request-timeout: 300


